# Data Set
https://www.kaggle.com/datasets/aiaiaidavid/the-big-dataset-of-ultra-marathon-running/discussion/420633
https://github.com/Neha781/Data-Exploration-Ultra-Marathon-Running-with-Python/blob/main/data%20project-checkpoint.ipynb

In [1]:
# import libraries
import pandas as pd
import seaborn as sns

In [2]:
# Load Data Set
df = pd.read_csv("TWO_CENTURIES_OF_UM_RACES.csv")

C:\Users\BT\AppData\Local\Temp\ipykernel_3884\345104474.py:2: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("TWO_CENTURIES_OF_UM_RACES.csv")

In [4]:
df.shape

(7461195, 13)

In [5]:
df.columns

Index(['Year of event', 'Event dates', 'Event name', 'Event distance/length',
       'Event number of finishers', 'Athlete performance', 'Athlete club',
       'Athlete country', 'Athlete year of birth', 'Athlete gender',
       'Athlete age category', 'Athlete average speed', 'Athlete ID'],
      dtype='object')

In [6]:
df.dtypes

Year of event                  int64
Event dates                   object
Event name                    object
Event distance/length         object
Event number of finishers      int64
Athlete performance           object
Athlete club                  object
Athlete country               object
Athlete year of birth        float64
Athlete gender                object
Athlete age category          object
Athlete average speed         object
Athlete ID                     int64
dtype: object

In [7]:
df.nunique()

Year of event                    146
Event dates                    14425
Event name                     26907
Event distance/length           2159
Event number of finishers       1453
Athlete performance           318200
Athlete club                  552188
Athlete country                  208
Athlete year of birth            193
Athlete gender                     3
Athlete age category              37
Athlete average speed          47244
Athlete ID                   1641168
dtype: int64